@font-face {
    font-family:font1 ;
    src: url(./font/plain-light-webfont.woff);
}
@font-face {
    font-family:font2 ;
    src: url(./font/plain-regular-webfont.woff);
}
@font-face {
    font-family:font3 ;
    src: url(./font/silkserif-lightitalic-webfont.woff);
}
@font-face {
    font-family:font4 ;
    src: url(./font/silkserif-regularitalic-webfont.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: font1;
  overflow-x: hidden;
    scrollbar-width: none;
}

main {
  position: relative;
  width: 100%;
  background-color: #0b0b0b;
  color: #fff;
  cursor: none;
}

.cursor{
    position: absolute;
    z-index: 99;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #fff;
    pointer-events: none;
}

.loader {
    cursor: none;
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: #0b0b0b;
    padding: 8vw 6vw;
  color: #fff;
}

.loader-container{
    line-height: 105px;

}

.loader h1{
    font-size: 7.2vw;
    font-family: font1;
    font-weight: 700;
    margin-bottom: .4vw;
}

.loader span{
    font-family: font3;
    font-weight: 100;
}
.loader h1 span{
    font-family: font1;
    font-weight: 900;
    opacity: 1;
}

.loader .counter{
    margin-left: 3vw;
    width: 5vw;
}

.loader .text-container{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: self-start;
    gap: 6vw;
}

.text-content-bottom {
    padding: 5vw ;
}

.text-content-bottom p{
    font-size: 15px;
    margin-left: 18vw;
    height: fit-content;
}

.text-container h4, .text-container h5{
    font-family: font3;
    font-weight: 100;
    font-size: 3vw;
}

.text-container h5{
    text-align: right;
}

.counter-container{
    display: flex;
    gap: 10px;
}

.page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:3.6vw 5vw;
    
}

.nav-left{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.nav-left-1{
    width: 80%;
    display: flex;
    gap: 3vw;
}

.nav-left-container{
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 3vw;
}

.nav-left p{
    font-size: 14px;
}

.nav-right{
    display: flex;
    justify-content: center;
    gap: 2.6vw;
}

.nav-right a{
    font-size: 14px;
    cursor: none;
    text-decoration: none;
    color: #fff;
}

.page1-container-container{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw;
}

.page1-container{
    padding-left: 9vw;
}

.page1-container h1{
    font-family: font2;
    font-weight: 100;
    font-size: 7.5vw;
    line-height: 7.5vw;

}

.page1-text-container{
    height: fit-content;
    overflow: hidden;
}

.split-text{
    text-decoration: underline 8px;
    transition:  linear all .3s;
}

.split-text:hover{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-decoration: none;
    transition:  linear all .28s;
}

.page2{
    position: relative;
    height: 90vh;
    width: 100%;
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: end;
}

.page2 .page2-video{
    position: relative;
    height: 35vw;
    width:70% ;
}

.page2-video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page2-video img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
}

.page4{
    /* height: 100vh; */
    width: 100%;
    background-color: #151515;
    display: flex;
    justify-content: end;
}

.page4-container{
    position: relative;
    height: 100%;
    width: 77%;
    padding: 2vw 5vw;
}

.page4-top-heading{
    width: 100%;
    padding: 5vw 0vw;
    border-bottom: 1px solid #fff;
}

.page4-heading-text{
    height: fit-content;
}

.page4-heading-text h1{
    font-size: 7.5vw;
}

.about-discription{
    padding: 4vw 0;
}

.about-discription p{
    font-size: 32px;
}

.page4-image{
    display: flex;
    
}

.page4-img-container{
    height: 40vw;
    width: 33vw;

}

.page4-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page4-img-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    padding: 0 30px;
}

.page4-img-text p{
    font-size: 13.2px;
    line-height: 22px;
}

.page4-awords{
    position: absolute;
    top: 56%;
    left: 36%;
    background-color: #3f7df4;
    height: 42vw;
    width: 33vw;
    padding: 3vw 3.5vw;
}

.page4-awords-text{
    display: flex;
    width: 100%;
    padding: 2.3vw 0;
    border-bottom: 2px solid #ffffff6a;
}

.page4-awords-text h3{
    width: 60%;
    font-size: 22px;
    font-weight: 100;
}

.page4-awords-text h4{
    width: 40%;
    font-size: 14px;
    font-weight: 100;
}

.page4-emptyContainer{
    height: 39vw;
    width: 100%;
    background-color: #151515;
    border-bottom: 1.6px solid #fff;
}

.page4-emptyContainer2{
    padding: 20px 0;
}

.page4-emptyContainer2 p{
    font-size: 14px;
}

.page5{
    height: 95vh;
    width: 100%;
    background-color: #151515;
}

.infinite-scroll{
    padding: 3vw 0 ;

}

.infinty-text{
    display: flex;
    align-items: center;
    white-space: nowrap;
    line-height: 115px;
    animation: scroll 10s linear infinite;
}

.infinty-text h1{
    font-size: 7.6vw;
    font-weight: 100;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

.infinty-text span{
    font-family: font3;
    font-weight: 100;
}

.scroll-left {
    animation: scroll-left 18s linear infinite;
  }

  .scroll-right {
    animation: scroll-right 18s linear infinite;
  }

.page6{
    height: 112vh;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: #151515;

}

.page6-container{
    position: relative;
    height: 100%;
    width: 77%;
    padding: 1vw 5vw;
}

.page6-top-heading{
    width: 100%;
    padding: 5vw 0vw;
    border-bottom: 1px solid #fff;
}

.page6-heading-text{
    height: fit-content;
}

.page6-heading-text h1{
    font-size: 7.5vw;
}

.page6-center{
    padding: 7vw 0vw;
    border-bottom: 1px solid #fff;
}

.page6-center-container{
    display: flex;
    justify-content: space-between;
    
}

.page6-center-text{
    width: 32%;
}

.page6-center-text h4{
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 24px;
}

.page6-center-text h3{
    font-family: font1;
    font-size: 24px;
    font-weight: 100;
    line-height: 26px;
}

.page6-bottom{
    padding: 30px 0;
}

.page6-bottom h4{
    font-size: 15px;
    font-weight: 100;
}

@keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes scroll-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }







