@font-face {
    font-family:font1 ;
    src: url(./font/plain-light-webfont.woff);
}
@font-face {
    font-family:font2 ;
    src: url(./font/plain-regular-webfont.woff);
}
@font-face {
    font-family:font3 ;
    src: url(./font/silkserif-lightitalic-webfont.woff);
}
@font-face {
    font-family:font4 ;
    src: url(./font/silkserif-regularitalic-webfont.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: font1;
  overflow-x: hidden;
    scrollbar-width: none;
}

main {
  position: relative;
  width: 100%;
  background-color: #151515;
  color: #fff;
  cursor: none;
}

.cursor{
    position: absolute;
    z-index: 99;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #fff;
    pointer-events: none;
}

img, video {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.loader {
    cursor: none;
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: #0b0b0b;
    padding: 8vw 6vw;
  color: #fff;
}

.loader-container{
    line-height: 8.4vw;
    

}

.loader h1{
    font-size: 7.2vw;
    font-family: font1;
    font-weight: 700;
    margin-bottom: .4vw;
}

.loader span{
    font-family: font3;
    font-weight: 100;
}
.loader h1 span{
    font-family: font1;
    font-weight: 900;
    opacity: 1;
}

.loader .counter{
    margin-left: 3vw;
    width: 5vw;
}

.loader .text-container{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: self-start;
    gap: 6vw;
}

.text-content-bottom {
    padding: 5vw ;
}

.text-content-bottom p{
    font-size: 15px;
    margin-left: 18vw;
    height: fit-content;
}

.text-container h4, .text-container h5{
    font-family: font3;
    font-weight: 100;
    font-size: 3vw;
}

.text-container h5{
    text-align: right;
}

.counter-container{
    display: flex;
    gap: 10px;
}

.page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:3.6vw 5vw;
    
}

.nav-left{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.nav-left-1{
    width: 80%;
    display: flex;
    gap: 3vw;
}

.nav-left-container{
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 3vw;
}

.nav-left p{
    font-size: 14px;
}

.nav-right{
    display: flex;
    justify-content: center;
    gap: 2.6vw;
}

.nav-right a{
    font-size: 14px;
    cursor: none;
    text-decoration: none;
    color: #fff;
}

.page1-container-container{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw;
}

.page1-container{
    position: relative;
    padding-left: 9vw;
}

.page1-container h1{
    font-family: font2;
    font-weight: 100;
    font-size: 7.5vw;
    line-height: 7.5vw;

}

.page1-text-container{
    height: fit-content;
    overflow: hidden;
}

.page1-container::before{
    position: absolute;
    content: "01";
    font-family: font3;
    font-weight: 100;
    font-size: 3.3vw;
    left: 0%;
    top: 0%;
}

.split-text{
    text-decoration: underline 8px;
    transition:  linear all .3s;
}

.split-text:hover{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-decoration: none;
    text-decoration-thickness: 0;
}

.magnet{
    transition: transform 0.6s ease-out;
}

.page2{
    position: relative;
    height: 80vh;
    width: 100%;
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: end;
}

.page2 .page2-video{
    position: relative;
    height: 35vw;
    width:70% ;
    overflow: hidden;

}

.page2-video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page2-video img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
}

.page3-container{
    height: 100%;
    width: 100%;
    padding: 0 5VW;
}

.page3-topheading-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.page3-top-heading{
    width: 74%;
    padding: 5vw 0vw;
    border-bottom: 1px solid #fff;
}

.page3-heading-text{
    height: fit-content;
}

.page3-heading-text h1{
    position: relative;
    font-size: 7.5vw;
}

.page3-heading-text h1::before{
    position: absolute;
    content: "02";
    font-family: font3;
    font-weight: 100;
    font-size: 3.3vw;
    top: 8% ;
    left: -15%;
}

.page3-main-content{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}



.page3-text-div{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-underline{
    border-bottom: 1px solid #fff;

}

.page3-text-div h2{
    font-size: 2.5vw;
}

.page3-text-div h5{
    font-weight: 100;

}

.page3-text-div h5:nth-child(1){
    width: 50%;
}

.page3-image-container{
    position: relative;
    height: 70%;
    width: 100%;
}

.page3-image-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page3-image-div{
    height: 55vw;
    width: 31vw;
    flex-shrink: 0;
}

.top-image{
    z-index: 99999;
}

.page3-image-div:nth-child(1){
    height: 44vw;
    width: 23vw;
}
.page3-image-div:nth-child(4){
    height: 44vw;
    width: 23vw;
}
.page3-image-div:nth-child(7){
    height: 44vw;
    width: 23vw;
}

.page3-circle{
    height: 320px;
    width: 320px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.page3-circle:hover .circle-innerdiv{
    scale: 1;
}

.page3-circle:hover p{
    scale: 1;
    transition: all ease .3s;
    transition-delay: .35s;
}

.page3-circle svg{
    width: 26%;
}


.circle1{
    margin-top: 100%;
    margin-left: 25%;
}

.circle-innerdiv p{
    scale: 0;
}

.circle-innerdiv{
    transition: all ease-out .3s;
    scale: 0;
    z-index: 99;
    color: black;
    height: 100%;
    width: 100%;
    letter-spacing: .3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
}

.circle2{
    margin-top: -10%;
}

.circle2 svg{
    rotate: -45deg;
}

.circle3{
    margin-top: 100%;
    margin-left: 25%;
}

.circle3 svg{
    rotate: -90deg;
}

.page3-projects-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vw 0;
}

.projects-button{
    transition: all ease-out .3s;
    height: 320px;
    width: 320px;
    background-color: #ffa63d;
    border-radius: 50%;
    display: flex;
    font-size: 14.4px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.projects-button:hover{
    scale: 0.9;
}


.page4{
    width: 100%;
    background-color: #151515;
    display: flex;
    justify-content: end;
}

.page4-container{
    position: relative;
    height: 100%;
    width: 77%;
    padding: 2vw 5vw;
}

.page4-top-heading{
    width: 100%;
    padding: 5vw 0vw;
    border-bottom: 1px solid #fff;
}

.page4-heading-text{
    height: fit-content;
}

.page4-heading-text h1{
    position: relative;
    font-size: 7.5vw;
}

.page4-heading-text h1::before{
    position: absolute;
    content: "03";
    font-family: font3;
    font-weight: 100;
    font-size: 3.3vw;
    left: -15%;
    top: 10%;
}

.about-discription{
    padding: 4vw 0;
}

.about-discription p{
    font-size: 32px;
}

.page4-image{
    display: flex;
    
}

.page4-img-container{
    height: 40vw;
    width: 33vw;

}

.page4-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page4-img-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    padding: 0 30px;
}

.page4-img-text p{
    font-size: 13.2px;
    line-height: 22px;
}

.page4-awords{
    position: absolute;
    top: 56%;
    left: 36%;
    background-color: #3f7df4;
    min-height: 42vw;
    width: 32vw;
    padding: 3vw 3.5vw;
}

.page4-awords-text{
    display: flex;
    width: 100%;
    padding: 2.3vw 0;
    border-bottom: 2px solid #ffffff6a;
}

.page4-awords-text h3{
    width: 60%;
    font-size: 1.6vw;
    font-weight: 100;
}

.page4-awords-text h4{
    width: 40%;
    font-size: 1vw;
    font-weight: 100;
}

.page4-emptyContainer{
    height: 39vw;
    width: 100%;
    background-color: #151515;
    border-bottom: 1.6px solid #fff;
}

.page4-emptyContainer2{
    padding: 20px 0;
}

.page4-emptyContainer2 p{
    font-size: 14px;
}

.page5{
    height: 95vh;
    width: 100%;
    background-color: #151515;
}

.infinite-scroll{
    padding: 3vw 0 ;

}

.infinty-text{
    display: flex;
    align-items: center;
    white-space: nowrap;
    line-height: 8.4vw;
    animation: scroll 10s linear infinite;
}

.infinty-text h1{
    font-size: 7.6vw;
    font-weight: 100;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

.infinty-text span{
    font-family: font3;
    font-weight: 100;
}

.scroll-left {
    animation: scroll-left 30s linear infinite;
  }

  .scroll-right {
    animation: scroll-right 30s linear infinite;
  }

.page6{
    height: 112vh;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: #151515;

}

.page6-container{
    position: relative;
    height: 100%;
    width: 77%;
    padding: 1vw 5vw;
}

.page6-top-heading{
    width: 100%;
    padding: 5vw 0vw;
    border-bottom: 1px solid #fff;
}

.page6-heading-text{
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
}

.page6-heading-text h1{
    font-size: 7.5vw;
    display: flex;
    align-items: center;
    font-weight: 900;
    gap: 2px;
}

.page6-split-text{
    margin-left: 1.8vw;
}

.page6-top-heading svg{
    margin-left: 3vw;
}



.page6-heading-text h1::before{
    position: absolute;
    content: "04";
    font-family: font3;
    font-weight: 100;
    font-size: 3.3vw;
    left: -15%;
    top: 10%;
}



.page6-heading-text svg{
    height: 5vw;
}



.page6-center{
    padding: 7vw 0vw;
    border-bottom: 1px solid #fff;
}

.page6-center-container{
    display: flex;
    justify-content: space-between;
    
}

.page6-center-text{
    width: 32%;
}

.page6-center-text h4{
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 24px;
}



.page6-center-text h3 div{
    position: relative;
    transition: all linear .32s;

}

.page6-center-text h3{
    height: 26px;
    overflow: hidden;
    width: fit-content;
    position: relative;
    font-family: font1;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    line-height: 26px;
}

.page6-center-text h5{
    width: fit-content;
    font-size: 24px;
    font-weight: 100;
    line-height: 26px;
}

.page6-center-text h3:hover div{
    transform: translateY(-105%);

}

.page6-center-text h3 .span{
    position: absolute;
    left: 0%;
    top: 100%;
}

.info-obys{
    text-decoration: underline 2px;
}



.page6-bottom{
    padding: 30px 0;
}

.page6-bottom h4{
    font-size: 15px;
    font-weight: 100;
}

@keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-160%);
    }
  }
  
  @keyframes scroll-right {
    0% {
      transform: translateX(-160%);
    }
    100% {
      transform: translateX(0%);
    }
  }



  @media (max-width: 600px) {

      
      nav{
          padding:5vw 6vw;

      }
      
      .nav-left{
          width: 100%;
      }
      
      .nav-left-1{
          width: 100%;
      }

      .nav-left-2{
        display: none;
      }
      
      .nav-left-container{
          width: 100%;
          justify-content: space-between;
      } 
      .nav-right{
        display: none;
      }

      .page1{
        height: fit-content;
      }
      
      .page1-container-container{
          height: 45%;
          display: flex;
          justify-content: flex-end;
          align-items: start;
          padding: 16vw 4vw;
          margin-top: 8vh;
      }
      
      .page1-container{
          padding-left: 2vw;
      }
      
      .page1-container h1{
          font-size: 11.5vw;
          line-height: 12.5vw;
      
      }
      
      .page1-container::before{
          font-size: 6vw;
          left: 3%;
          top: -22%;
      }
      
      .split-text {
        text-decoration: underline 8px;
        transition: none; 
      }
    .split-text:hover {
        color: inherit;
        -webkit-text-stroke: 0;
        text-decoration: underline 8px;
    }

    .page2{
        height: 50vh;
        justify-content: center;

    }
    
    .page2 .page2-video{
        position: relative;
        height: 90%;
        width:100% ;
    }
    

    
    .page2-video img{
        transform: scale(1.2);
        height: 100%;
    }


    
    .page3-container{
        padding: 5vw 6VW;
    }
    
    .page3-topheading-container{
        justify-content: flex-start;
    }
    
    .page3-top-heading{
        width: 100%;
        padding: 6.5vw 0vw;
        border-bottom: 1.6px solid #ffffff96;
    }
    
    .page3-heading-text h1{
        font-size: 9.5vw;
    }
    
    .page3-heading-text h1::before{
        font-size: 5vw;
        top: -90% ;
        left: 0%;
    }
    
    .page3-main-content{
        flex-direction: column;
        gap: 30px;
    }
    
    .page3-text-div{
        height: 15%;
    }
    
    
    .page3-text-div h2{
        font-size: 6vw;
    }
    
    .page3-text-div h5{
        font-size: 14.6px;
    }
    
    .page3-image-div{
        height: 80vh;
        width: 100%;
    }

    .page3-image-div:nth-child(3),
    .page3-image-div:nth-child(4),
    .page3-image-div:nth-child(8){
        display: none;
    }
    
    .page3-image-div:nth-child(1){
        height: 80vh;
        width: 100%;
    }
    .page3-image-div:nth-child(4){
        height: 80vh;
        width: 100%;
    }
    .page3-image-div:nth-child(7){
        height: 80vh;
        width: 100%;
    }
    
    .page3-circle{
        display: none;
    }
    
    
.page3-projects-button{
    padding: 18vw 0;
}

.projects-button{
    height: 240px;
    width: 240px;
}

.projects-button:hover{
    scale: 1;
}

.projects-button:active{
    scale: 0.9;
}

.page4{
    justify-content: flex-start;
}

.page4-container{
    width: 100%;
    padding: 2vw 5vw;
}

.page4-top-heading{
    padding: 7vw 0vw;
    border-bottom: 1.6px solid #fff;
}

.page4-heading-text h1{
    font-size: 9vw;
}

.page4-heading-text h1::before{
    font-size: 5vw;
    left: 0%;
    top: -100%;
}

.about-discription{
    padding: 12vw 0;
}

.about-discription p{
    font-size: 5.7vw;
}

.page4-image{
    display: flex;
    flex-direction: column-reverse;
    gap: 12vw;
}

.page4-img-container{
    height: 70%;
    width: 100%;

}

.page4-img-text{
    gap: 20px;
    width: 84%;
    padding: 0 0px;
}

.page4-img-text p{
    font-size: 14px;
    line-height: 22px;
}

.page4-awords{
    position: relative;
    top: 0%;
    left: 0%;
    height: 70vh;
    padding: 12vw 4vw;
    margin-top: 4vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.page4-awords-text{
    display: flex;
    justify-content: space-between;
}


.page4-awords-text h3{
    width: 35%;
    font-size: 14px;
}

.page4-awords-text h4{
    width: 55%;
    font-size: 14px;
}

.page4-emptyContainer{
    height: 15vw;
    border-bottom: 1.4px solid #fff;
}

.page5{
    height: fit-content;
}

.infinite-scroll{
    padding: 14vw 0 ;

}

.infinty-text{
    line-height: 11vw;
}

.infinty-text h1{
    font-size: 10vw;
}


.page6{
    height: fit-content;
    justify-content: flex-start;
}

.page6-container{
    width: 100%;
    padding: 1vw 5vw;
}

.page6-top-heading{
    width: 100%;
    padding: 8vw 0vw;
}

.page6-heading-text{
    height: 40px;
}

.page6-heading-text h1{
    font-size: 9vw;
}


.page6-top-heading svg{
    margin-left: 3vw;
}



.page6-heading-text h1::before{
    font-size: 5vw;
    left: 0%;
    top: -100%;
}



.page6-heading-text svg{
    height: 6vw;
}



.page6-center{
    padding: 16vw 0vw;
}

.page6-center-container{
    flex-direction: column;
    gap: 6vw;
}

.page6-center-text{
    width: 32%;
}

.page6-center-text h4{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 24px;
}



.page6-center-text h3{
    height: 28px;
    line-height: 27px;
}

.page6-center-text h5{
    width: 200%;
}

.page6-center-text h3:hover div{
    transform: none;

}

.cursor{
    display: none;
}

.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.loader-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.loader h1{
    font-size: 7.4vw;
}

.loader span{

}
.loader h1 span{

}

.loader .counter{
    margin-left: 0vw;
    width: 5vw;
}

.loader .text-container{
    flex-direction: column;
    gap: 2vw;
}

.text-content-bottom {
    padding: 12vw 0;
}

.text-content-bottom p{
    font-size: 14px;
    margin-left: 0vw;
}

.text-container h4, .text-container h5{
    font-size: 5vw;
}

.text-container h5{
    text-align: right;
}

.counter-container{
    display: flex;
    gap: 10px;
}

}







